# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
ENV/
env/
.venv/

# OS files
.DS_Store
Thumbs.db

# SQLite database
*.db
*.sqlite3

# Uploaded files (optional, for privacy and repo size)
static/uploads/

# Logs
*.log

# IDE/editor configs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Jupyter Notebook checkpoints
.ipynb_checkpoints/ 